<DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Test date-picker</title>
		<script src="bower_components/angular/angular.js"></script>
		<script src="datepicker.js"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container-fluid" ng-app="dcDatePicker">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="input-group" style="margin:10px;">
						<span class="input-group-addon">Tipo mes</span>
						<input class="form-control" type="text" style="width:300px" dc-date-picker ng-model="testMes" date-type="'month'" disabled>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="input-group" style="margin:10px;">
						<span class="input-group-addon">Tipo día</span>
						<input class="form-control" type="text" style="width:300px" dc-date-picker ng-model="testDia" date-type="'day'">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>